@font-face {
    font-family: Moderne Sans;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: #000;
    background-size: cover;
  }
  video { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  div#fashion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: .4s;
  }
  /* header:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
  } */
  h1 {
    font-family: Moderne Sans, sans-serif;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
  }
  h2 { 
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 8vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #000000;
    font-weight: 900;
  }
  h3 { 
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 5vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #e4e0e0;
    font-weight: 100;
    padding-top: 5%;
  }

  .survey-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.survey-button {
    background-color: #007bff; /* Primary Blue */
    color: rgb(207, 207, 207);
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px #0056b3;
    transform: perspective(1px) translateY(0);
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.survey-button:hover, .survey-button:focus, .survey-button:active {
    box-shadow: 0 4px #004085; /* Slightly smaller shadow on hover */
    transform: translateY(-2px); /* Move button up */
}
.privacy-notice {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

.survey-button:hover:before, .survey-button:focus:before, .survey-button:active:before {
    transform: scaleY(1);
}

ul{
    color: #fff;
    font-size: larger;
}

  